/target/
options.json
payload.json
build
build/*
.project
.gradle/*
.classpath
.settings/*
/bin/
logs/*
Fumes.mp3
drowning.mp3
dependency-reduced-pom.xml
*.DS_Store
.DS_Store

options.json
options.json
.idea